.social-icon {
  width: 40px;
  height: 40px;
}


@media (max-width: 768px) {
  #contact-email, #footer-bcbk-name {
    text-align: center !important;
  }
}

#footer {
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
