.registration-form {
	background-image: url('../images/bgweb.jpg');
	background-size: 100% 100%;
}

.uk-form-row {
	margin-bottom: 20px;
}

.uk-form input:not([type]), .uk-form input[type=text], .uk-form input[type=password],
.uk-form input[type=email], .uk-form input[type=url], .uk-form input[type=search],
.uk-form input[type=tel], .uk-form input[type=number], .uk-form input[type=datetime],
.uk-form input[type=datetime-local], .uk-form input[type=date], .uk-form input[type=month],
.uk-form input[type=time], .uk-form input[type=week], .uk-form input[type=color],
.uk-form select, .uk-form textarea {
	border: 2px solid #3ed1dd;
}

.register-button {
	color: white !important;
	background: #eba12e !important;

	&:hover {
		color: white;
		background: #ebaf51 !important;
		transition: all 0.3s ease;
	}

	&:active {
		color: white;
		background: #d99325;
	}
}

@media screen and (max-width: 768px) {
	.logo-wrapper {
		margin-bottom: 20px;
	}

	.form-firstname {
		margin-bottom: 20px !important;
	}
}
