.schedule-top-container{
    height: 400px;
    left: 50px;
    width: 500px;
    margin-left: 1;
}

#schedule-section{
    // background-image : url(asset-path('BG5.jpeg'));
    // background-size: 100% !important;
    // background-repeat: repeat !important;
    background-image : url(asset-path('gray.svg'));
    background-color: rgba(22,132,142,1);
    background-repeat: repeat;
    padding-top: 50px;
    padding-bottom: 50px;
    h2, p, h3,h4{
      color: white;
    }
}
#schedule-wrapper{
    margin-left: 50px;
    margin-right: 50px;
    top: 0px;
}

.schedule-line {
  width: 3px !important;
  background-color: white;
}

.schedule-circle {
  width: 13px !important;
  height: 13px;
  margin-top: 4px;
  border-radius: 99999px;
  background-color: white;
}

.schedule-line-parent {
  position: relative;
}

.schedule-line-1 {
  position: absolute;
  height: 100%;
}
