#sessions {
  background-image : url(asset-path('gray2.svg'));
  background-color: white;
  background-repeat: repeat;
  min-height: 100vh;
  h2,h3,h5 {
    color: white;
  }
  table {
    table-layout: fixed;
  }
  td {
    overflow-wrap: break-word;
    border-bottom: solid 1px rgba(0,0,0,0.2);
    border-right: solid 1px rgba(0,0,0,0.2);
  }
  thead {
    color: white;
    background: #727272;
  }
  .room {
    background: #ebebeb;
  }
}

#sessions-wrapper {
  background: rgba(255,255,255,0.7);
}

.time-header{
  background: #4bb9c7;
}

.time-header-secondary {
  background: #d16b4c;
}
