#sessions {
  h2,h3,h4,h5 {
    color: white;
  }
  table {
    table-layout: fixed;
  }
  td {
    overflow-wrap: break-word;
  }
  thead {
    color: white;
    background: #727272;
  }
  .room {
    background: #ebebeb;
  }
}

.time-header{
  background: #4bb9c7;
}

.time-header-secondary {
  background: #d16b4c;
}
