<div>
  <%= react_component('Menu', redirect: true, token: form_authenticity_token, user: @user, logo: image_url('logo_white.svg')) %>
  <%= react_component('Registration',token: form_authenticity_token, dash: image_url('dash.svg')) %>
</div>
