<div>
  <%= react_component('Menu', redirect: true, token: form_authenticity_token, user: @user, logo: image_url('logo_white.svg')) %>
  <div class="blur">
    <%= react_component('Resend',
      token: form_authenticity_token,
      email1: image_url('email-icon-black.svg')) %>  
  </div>
</div>
