#description-section{
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(asset-path('BG2.jpg'));
  background-size: 100% 100%;
  background-repeat: no-repeat;

  h3 {
    color: #444;
    font-weight: 300;
    margin: 0px;
  }
}

@media (max-width: 768px) {
  #description-section {
    text-align: center;
  }
}
