#index-section {
  background-image: url(asset-path('BG1.jpg'));
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: -50px;

  h3,h2,h1 {
    color: white;
    font-weight: 500;
  }
}

.event-info {
  background-image: url(asset-path('polygon.png'));
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
