#index-section {
  // background-image: url(asset-path('BG1.jpg'));
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: -50px;

  h3,h2,h1 {
    color: white;
    font-weight: 500;
  }
}

.event-info {
  // background-image: url(asset-path('polygon.svg'));
  background-size: 100%;
  background-repeat: no-repeat;
}

.icon {
  height: 44px;
}

@media(min-width: 768px) {
  .event-info {
    padding-top: 25%;
    padding-bottom: 25%;
  }
}

@media(max-width: 768px){
  #index-section {
    margin-top: 0px;
  }
  .event-info {
    // background-image: url(asset-path('polygon-mobile.png'));
    background-size: 100% 100%;
    padding-top: 15vh;
    padding-bottom: 10vh;
    margin-bottom: 13vh;
  }
  .logo-wrapper {
    margin-top: 15vh;
  }
  h3,h2,h1 {
    font-weight: 400 !important;
  }
  .event-info-wrapper {
    flex-direction: column;
  }
}
@media(max-width: 414px) {
  .index-info-text {
    width: 45% !important;
  }
}
@media(max-width: 320px) {
  .index-info-text {
    width: 55% !important;
  }
}
//

#what-is-barcamp-wrapper {
  h1{
    display: inline;
  }
  h1,h3 {
    color: #444 !important;
  }
}
