html, body {
  font-family: 'Roboto' !important;
  width: 100%;
  padding: 0;
  margin: 0;
}

.section {
  width: 100%;
}

.menu-links-wrapper a {
  display: block;
}

.flex {
  display: flex;
}

.flex-center-y {
  align-items: center;
}

.flex-center-x {
  justify-content: center;
}

.flex-center {
  @extend .flex-center-y;
  @extend .flex-center-x;
}

.text {
  font-size: 40px;
}

.header {
  color: white;
}

.text-center {
  text-align: center;
}

.uk-grid {
  margin: 0px !important;
  padding: 0px !important;
  * {
    margin: 0px !important;
    padding: 0px !important;
  }
}

.no-margin {
  margin: 0px;
}

.thin {
  font-weight: 300 !important;
}

@media(max-width: 768px) {
  .page-header {
    text-align: center;
  }
}

::-webkit-scrollbar {
    display: none;
}

.full-width{
  width: 100%;
}

.full-height {
  height: 100vh;
}

.square-button {
  padding: 10px;
  background-color: rgba(75, 185, 199, 0.5);
  border: solid 2px rgb(49, 122, 132);
  h3 {
    margin:0px;
    color: rgb(49, 122, 132);
  }
}

.square-button:hover {
  cursor: pointer;
}
